<p-card class="card" (click)="verDetalle()" *ngIf="!isLoading">

  <ng-template pTemplate="header">
    <img alt="foto del personaje" [src]="personaje.image" />
  </ng-template>

  <ng-template pTemplate="content">
    <h3>{{personaje.name}}</h3>
    <small>{{personaje.status}}</small>
  </ng-template>

</p-card>

<!-- SKELETON -->

<p-card class="card" *ngIf="isLoading">

  <ng-template pTemplate="header">
    <p-skeleton width="96%" height="12rem" borderRadius="15px" styleClass="ml-1 mt-1 mb-2"></p-skeleton>
  </ng-template>

  <ng-template pTemplate="content">
    <p-skeleton width="100%" height="2rem" styleClass="mb-3 mt-1"></p-skeleton>
    <p-skeleton width="60%" height="1rem" styleClass="mb-3 mt-1"></p-skeleton>
  </ng-template>

</p-card>