img {
  border-radius: 20px;
  padding: 3px
}

:host ::ng-deep .p-card {
  border-radius: 20px !important;
  width: 200px;
  height: auto;
  cursor: pointer;
  border: 3px solid white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: background 0.5s;
}

:host ::ng-deep .p-card:hover {
  background-color: #000000;
  border-color: white;
  color: white;

  .p-card-header {
    filter: grayscale();
  }  
}

:host ::ng-deep .p-card-body {
  padding-top: 0;
}

:host ::ng-deep .p-card-content {
  padding-top: 0;
  padding-bottom: 0;
}

h3 {  
  margin-bottom: 0;
}