<!-- SKELETON -->

<ng-container *ngIf="isLoading">

  <div class="grid">

    <div class="col-12">
      <p-skeleton width="17rem" height="2rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton width="8rem" height="1rem" styleClass="mb-2"></p-skeleton>
    </div>

    <div class="flex flex-wrap justify-content-center gap-2 mt-2 ml-2">
      <p-skeleton width="5rem" height="5rem" *ngFor="let k of [0, 0, 0, 0, 0, 0, 0, 0]"></p-skeleton>
    </div>

  </div>

</ng-container>

<!-- INFO -->

<ng-container *ngIf="!isLoading">

  <div class="grid">

    <div class="col-12">
      <h1 class="mb-0">{{detalle.name}}</h1>
      <h3 class="font-light mt-0">{{detalle.type}} - {{detalle.dimension}}</h3>
    </div>

  </div>

  <app-residents [residents]="detalle.residents"></app-residents>

</ng-container>