@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "/node_modules/primeflex/primeflex.css";
@import "primeicons/primeicons.css";

body {
  background-color: #1a380b;
  background-image: url('../src/assets/imgs/blob.svg');
  font-family: var(--font-family);
}

.avatar {
  border-radius: 20px !important;
}